/* CUSTOM FONT: NORMAL */
@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CUSTOM FONT: BOLD */
@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSandPro-Bold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL STYLES */
body {
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */
header {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #ffffff;
    background-image: url("images/pic_1.jpg");
    background-size: cover; /* ensure image covers entire header area */
    background-position: center; /* center img within header */
    background-repeat: no-repeat; /* prevents img from repeating if header is larger than img size */
}

/* SMILE LOGO SVG */
.svg-logo {
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 30px;
}

/* NAV MENU CONTAINER */
.nav-container {
    position: relative; /* Allows absolutely positioned elements inside it to be positioned relative to this container */
    width: 100%; /* make container span full width of page */
    height: 60px; /* container height*/
}

/* NAVIGATION MENU */
.nav-menu {
    position: absolute; /* position menu absolutely within nav container */
    top: 0; /* align ttop of menu to top of container */
    right: 0; /* align menu to right side of container */
    display: flex; 
    justify-content: space-between; /* distribute space between menu items */
    align-items: center; /* vertically center menu items */
    width: auto; /* menu adjusts automatically based on content */
    padding-right: 20px; /* Add padding to push links apart */
    top: 30px;

}

/* COURSES PRICING LOGIN */
.nav-menu nav a {
    margin-left: 35px; /* add space between each link */
    text-decoration: none; /* remove underline from links */
    color: #ffffff;
}

/* BANNER SECTION */
/* GET SCHOOLED */
.banner h1 {
    font-size: 120px;
    text-align: center; /* center text within container */
    margin: 10vh 0 0 0; /* adds space above text, but no space on the sides or bottom */
}

/* SMILES GRIN LAUGH */
.banner p {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adds 20px of space between each item */
    text-align: center;
    margin-top: -20px;
}

/* HEADER BUTTON */
.banner-button {
    padding: 15px 20px; /* Adds 15px of space vertically and 20px horizontally inside the button */
    font-size: 14px; /* Sets the font size of the button text to 14px */
    cursor: pointer; /* Changes the mouse cursor to a pointer when hovering over the button */
    border-radius: 25px; /* Rounds the button corners with a 20px radius */
    background-color: #C271FF;
    color: #ffffff;
    display: block; /* Makes the button a block-level element */
    margin-left: auto; 
    margin-right: auto;
}

/* LEARN FROM THE PROS */
.banner h2 {
    text-align: center;
    margin-top: 105px;
}

/* CUSTOM STYLES FOR 'LEARN' */
.learn-text {
    color: #C271FF;
}

/* CUSTOM STYLE: BOLD */
.bold-text {
    font-weight: bold;
}

/* PROFILE CONTAINER */
.profile-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
    justify-content: center; /* center profiles horizontally */
    margin: 0 20px;
}

/* PROFILE BLOCK */
.profile-block {
    width: calc(25% - 20px); /* Sets the width of each block to 25% of the container, minus 20px */
    text-align: center; /* centers content inside each block */
    margin: 10px;
}

/* PROFILE IMAGE */
.profile-img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

/* PROFILE NAME */
.profile-name {
    font-size: 18;
}

/* PROFILE DESCRIPTION */
.profile-desc {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    opacity: 0.8;
}

/* QUOTE SECTION */
.quote {
    background-color: #C271FF;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QUOTE CONTAINER */
.quote-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* QUOTE PROFILE IMAGE */
.quote-container img {
    border-radius: 50%;
    max-width: 116px;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

/* QUOTE CONTENT */
.quote-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* QUOTE TEXT */
.quote blockquote {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    margin: 0;
}

/* PERSON NAME */
.person-name {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    margin: 10px 0 5px;
}

/* PERSON TITLE */
.person-title {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: italic;
}

/* VIDEO SECTION GENERAL STYLES */
.video-section {
    font-family: 'Source Sans Pro';
    background-color: white;
    padding: 20px;
}

/* VIDEO HEADER CONTAINER */
.video-header-container {
    text-align: center;
    margin-bottom: 30px;
}

/* VIDEO HEADER STYLES */
.most-popular-tutorials {
    font-size: 32px;
    text-align: center;
}

/* CUSTOM STYLE FOR 'MOST' */
.most-popular-tutorials::first-word {
    font-weight: normal;
    color: black;
}

/* CUSTOM STYLE FOR 'POPULAR' */
.popular {
    color: #C271FF;
    font-weight: bold;
}

/* CUSTOM STYLE FOR 'TUTORIALS' */
.most-popular-tutorials::after {
    font-weight: normal;
    color: black;
}

/* VIDEO BLOCK CONTAINER */
.video-blocks-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-direction: row;
}

/* VIDEO BLOCK STYLES */
.video-block {
    width: calc((100% - 80px) / 4);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0;
}

/* VIDEO THUMBNAIL CONTAINER */
.thumbnail-container {
    position: relative;
    display: inline-block;
}

/* VIDEO THUMBNAIL STYLES */
.thumbnail-img {
    display: block;
    width: 100%;
    height: auto;
}

/* PLAY BUTTON STYLES */
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the play button */
    width: 64px; /* Adjust size as necessary */
    height: 64px;
    cursor: pointer;
}

/* VIDEO TITLE AND DESCRIPTION CONTAINER */
.info-container {}

/* VIDEO TITLE */
.video-title {
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 16px;
}

/* VIDEO DESCRIPTION */
.video-description {
    opacity: 0.5;
    font-size: 14px;
}

/* AUTHOR CONTAINER */
.author-container {
    display: flex;
    align-items: center; /* Align image and text vertically in the center */
    gap: 10px; /* Add some space between the image and the name */
}

/* AUTHOR IMAGE STYLES */
.author-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/* AUTHOR NAME STYLES */
.video-author {
    font-weight: bold;
    color: #C271FF;
    font-size: 14px;

}

/* VIDEO RATING AND VIDEO LENGTH CONTAINER */
.rating-and-length-container {
    display: flex;
    align-items: center;
    gap: 150px;
}

/* STAR RATING STYLES */
.rating {
    display: flex;
    align-items: center;
}

.rating img {
    width: 15px;
    height: 15px;
}

/* VIDEO LENGTH STYLES */
.video-length {
    font-weight: bold;
    color: #C271FF;
    font-size: 14px;
}


/* MEMBERSHIP SECTION */
.membership {
    font-family: 'Source Sans Pro';
    background-color: #071629;
    padding: 20px;
    color: #ffffff;
}

/* 'FREE MEMBERSHIP' HEADER */
.membership-header {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}

/* CUSTOM STYLE FOR 'FREE' */
.membership-header .free {
    font-weight: bold;
    color: #C271FF;
}

/* MEMBERSHIP BLOCKS CONTAINER */
.membership-container {
    display: flex;
    justify-content: center; /* Distributes space between the blocks */
    gap: 20px; /* Adds space between the blocks */
}

/* MEMBERSHIP BLOCK STYLES */
.membership-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* PURPLE SMILE LOGO FOR MEMBERSHIP BLOCK */
.membership-block img {
    width: 43px;
    height: 35px;
    margin: 0 auto;
}

/* MEMBERSHIP BLOCK TITLE */
.membership-block h2 {
    font-size: 18px;
}

/* MEMBERSHIP BLOCK DESCRIPTION */
.membership-block p {
    font-size: 18px;
    text-align: center;
}

/* MEMBERSHIP BUTTON CONTAINER */
/* Adds space above and below the button container */
.button-container {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* MEMBERSHIP BUTTON STYLES */
.button-container button {
    padding: 15px 20px; /* Adds 15px of space vertically and 20px horizontally inside the button */
    font-size: 14px; /* Sets the font size of the button text to 14px */
    cursor: pointer; /* Changes the mouse cursor to a pointer when hovering over the button */
    border-radius: 25px; /* Rounds the button corners with a 20px radius */
    background-color: #C271FF;
    color: #ffffff;
    display: block; /* Makes the button a block-level element */
    margin-left: auto; 
    margin-right: auto;
}

/* F.A.Q SECTION STYLES */
#faq {
    background-color: white; /* Set the background color to white */
    padding: 50px 20px; /* Add some padding for spacing */
}

/* FAQ HEADER STYLES */
#faq h1 {
    font-size: 36px; /* Adjust the font size */
    text-align: center; /* Center the text */
    margin-bottom: 40px; /* Add some space below the header */
    font-weight: bold; /* Make the font bold */
}

/* ROW BLOCKS STYLES */
.row-block {
    display: flex;
    justify-content: space-between; /* Space out the faq blocks in each row */
    margin-bottom: 20px; /* Add space between rows */
}

/* FAQ BLOCK STYLES */
.faq-block {
    flex: 1; /* Allow the blocks to take up equal space */
    padding: 20px; /* Add padding inside the block */
    margin: 10px; /* Add margin around each block */
}

/* FAQ BLOCK TITLE 'HOW DOES THIS WORK' STYLES */
.faq-block h2 {
    font-size: 24px; /* Adjust the heading size */
    margin-bottom: 10px; /* Add space between heading and paragraph */
    color: #071629;
}

/* FAQ BLOCK PARAGRAPH TXT STYLES */
.faq-block p {
    font-size: 16px; /* Adjust the paragraph text size */
    line-height: 1.5; /* Line height for better readability */
    color: #071629; /* Lighter color for paragraphs */
    opacity: 0.5;
}

/* FOOTER STYLES */
footer {
    background-color: #071629;
    padding: 20px;
    color: #ffffff;
}