/* Custom Font */
@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-Black.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Global Layout */
body {
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    font-family: 'Source Sans Pro';
    color: #ffffff;
    background-image: url("images/pic_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Smile School Logo SVG */
.svg-logo {
    width: 100px;
    height: 100px;
}

/* Navigation Menu */
.nav-container {
    position: relative;
    width: 100%;
    height: 60px;
}

.nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding-right: 20px; /* Add padding to push links apart */
}

.nav-menu nav a {
    margin-left: 20px;
}

/* Banner Styles */
/* Get Schooled */
.banner h1 {
    font-size: 120px;
    text-align: center; /* center text within container */
    margin: 10vh 0 0 0; /* adds space above text, but no space on the sides or bottom */
}

/* SMILES GRIN LAUGH */
.banner p {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adds 20px of space between each item */
    text-align: center;
}

/* Button */
.banner-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #C271FF;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Professionals Styles */
.banner h2 {
    text-align: center;
    margin-top: 20px;
}

/* custom styling for 'learn' */
.learn-text {
    color: #C271FF;
}

.bold-text {
    font-weight: bold;
}

.profile-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
    justify-content: center; /* center profiles horizontally */
    margin: 0 20px;
}

.profile-block {
    width: calc(25% - 20px); /* Sets the width of each block to 25% of the container, minus 20px */
    text-align: center; /* centers content inside each block */
    margin: 10px;
}

.profile-img {
    border-radius: 50%;
    max-width: 116px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.profile-name {}

.profile-desc {}